EXPO_PUBLIC_BACKEND_URL=http://localhost:3000
EXPO_PUBLIC_AUTH_URL=$EXPO_PUBLIC_BACKEND_URL/v1/auth
EXPO_PUBLIC_GOOGLE_AUTH_URL=$EXPO_PUBLIC_AUTH_URL/google
EXPO_PUBLIC_FACEBOOK_AUTH_URL=$EXPO_PUBLIC_AUTH_URL/facebook
EXPO_PUBLIC_APPLE_AUTH_URL=$EXPO_PUBLIC_AUTH_URL/apple
EXPO_PUBLIC_MEDIA_UPLOAD_URL=$EXPO_PUBLIC_BACKEND_URL/media-upload
EXPO_PUBLIC_USER_AVATAR_URL=$EXPO_PUBLIC_BACKEND_URL/users/avatar
SECURE_STORE_KEY=user_session
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
